html, body {
  font-family: Gill Sans, sans-serif;
  font-variant: small-caps;
  margin: auto;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

button:focus {
  outline-color: #b91400;
}

div {
  box-sizing: border-box;
}

li {
  display: inline-block;
}

.no-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.bg-orange-default {
  background-color: #f4511e;
}

.bg-orange-light {
  background-color: #ff844c;
}

.bg-orange-dark {
  background-color: #b91400;
}

.fh {
  height: 100%;
}

.fw {
  width: 100%;
}

.page-body {
  overflow: scroll;
  position: relative;
  left: 125px;
  margin: auto 145px auto 20px;
}

.app-layout {
  display: flex;
}

/* Flexbox types */

.display-flex-row {
  display: flex;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

/* Flexbox alignments */

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-end {
  align-items: flex-end;
}

/* Flexbox content justifications */

.flex-justify-center {
  justify-content: center;
}

.flex-justify-between {
  justify-content: space-between;
}

.flex-justify-evenly {
  justify-content: space-evenly;
}

.flex-justify-around {
  justify-content: space-around;
}

/* Flexbox wraps */

.flex-wrap {
  flex-wrap: wrap;
}

/* Sidebar */

#sidebar {
  position: fixed;
  box-shadow: 2px 0px 4px #888888;
  min-width: 125px;
  max-width: 125px;
  z-index: 3000;
}

#sidebar-logo {
  margin: 12.5px;
  height: 100px;
  width: 100px;
}

#sidebar-navigation {
  justify-content: space-evenly;
  margin: 12.5px;
  height: 200px;
  width: 100px;
}

.sidebar-navigation-button {
  border-radius: 5px;
  border-width: 0px;
  height: 75px;
  width: 75px;
}

.sidebar-navigation-button:hover {
  background-color: #ff844c;
  fill: #413131;
}

.sidebar-navigation-button > svg {
  fill: inherit;
}


/* Card Grid */

.card-grid {
  margin: 50px auto auto 0;
  display: grid;
  width: 100%;
  max-width: 1500px;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 25px;
}

.card {
  height: 350px;
  width: 400px;
  background-color: rgba(155, 155, 155, 1.0);
}


/* Puzzle Grid */


.puzzle-grid {
  max-width: 1000px;
  max-height: 1000px;
  width: 60vh;
  height: 60vh;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto auto auto;
  background-color: rgba(205, 205, 205, 1.0);
  padding: 10px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.puzzle-box {
  height: 92%;
  width: 92%;
  font-size: 4vh;
  text-align: center;
  border: none;
}

.grid-bg-normal {
  background-color: rgba(255, 255, 255, 1.0);
}

.grid-bg-alt {
  background-color: rgba(185, 185, 205, 1.0);
}

/* Signup */

.signup-container {
  margin-left: 20px;
  max-width: 400px;
  height: 60vh;
}

@media all and (max-width: 1160px) {
  .signup-container {
    margin-left: 0px;
    max-width: none;
  }
}

@media all and (max-width: 1000px) {
  #sidebar {
    position: fixed;
    width: 100%;
    max-width: none;
    height: 125px;
    flex-direction: row;
  }

  #sidebar-navigation {
    width: 100%;
    height: 100px;
    flex-direction: row;
  }

  .app-body {
    flex-direction: column;
  }

  .page-body {
    top: 125px;
    left: 0px;
    margin: auto;
  }
}

















